@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{

    --main-color:#0B9485;
    --white-color:white;
    --yellow-color:#FFBB1C;
    --text-color:#5d6979;    
    --background-color-card:#F5FBF9;
    --footer-background-color:#283646;
    --list-color:#9CCA60;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

.margin-bottom{
    margin-bottom: 10%;
}

/* First Section */

#First_Section{

    background-image: url('../images/solar-panels-meadow 1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Navigation bar */

nav{
    display: flex;
    background-color: var(--main-color);
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    font-size: 18px;

}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 0px 20px;

}

.call-us .p1{
    padding: 5px 0px;
}

.menu i{
    font-size: 25px;
}

.menu{
    display: none;
    cursor: pointer;
}



/* Content of first section  (Solar Panel Installers In Plymouth)  */

  #Content_of_first_section{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 70vh;
    color: var(--white-color);
  }

  #Content_of_first_section h1{
    font-size: 50px;
    font-weight: normal;
    
  }

  #Content_of_first_section p{
    font-size: 20px;
    line-height: 30px;
    padding:2% 0%;
    padding-right: 8%;
    
  }

  .main_color_button , .yellow_color_button{
    padding: 10px 16px;
    border-radius: 25px;
    border: none;
  }
  .main_color_button{
    background-color: var(--main-color);
    color: var(--white-color);
  }

  .yellow_color_button{
    background-color: var(--yellow-color);
  }
  /* End of Content of first section */

/* End of First Section */

/* Second section */

#Friendliest_Installers .container{
  gap: 3%;
}
#Friendliest_Installers h2{
  font-size: 50px;
  margin-bottom: 5%;
}

#Friendliest_Installers p{
  color: var(--text-color);
  line-height: 25px;
  text-align: justify;
  margin-bottom: 4%;
}
#Friendliest_Installers ol {
  list-style-type:none;
  counter-reset: item;
}

#Friendliest_Installers ol li{
  counter-increment: item;
  padding: 2% 0px;
  font-weight: bold;
  font-size: 20px;
  
}
#Friendliest_Installers ol li::before{
  content: counter(item, decimal-leading-zero) "/ "; 
    color: var(--list-color);
    font-size: 20px;

}
#Friendliest_Installers_right_side{
  position: relative;
}

#yellow-card{

  position: absolute;
  background-color: var(--yellow-color);
  bottom: 4%;
  left: -15%;
  padding: 5%;
  border-radius: 15px;
  text-align: center;
}
#yellow-card p{color: black;}
.fa-solar-panel{
  font-size: 25px;margin-bottom: 5%;
}
/* End of second section */


/* Power that doesn't cost the earth (Third Section) */

#third-section {
    background-image: url("../images/8116\ 1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
    color: var(--white-color);
  }
  
  #third-section-content {
    padding: 10%;
  }
  
  #third-section-content h3 {
    font-size: 40px;
  }
  
  #third-section-content p {
    font-size: 20px;
    padding: 3% 0%;
  }
  
  
  /* End of Power that doesn't cost the earth (Third Section) */


  /*  Solar Section (fourth section)*/
  
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2%;
    margin: 2% 10% ;
  }

  #fourth_section h3 {
    font-size: 30px;
    text-align: center;
  }
  
  #fourth_section p {
    padding-top: 1%;
    color: var(--text-color);
  }
  
  .card{
    grid-column: span 4;
    box-shadow: 0 4px 8px 0 rgb(214, 214, 214);

  }

  .body {
    padding:5%  0% 5% 3%;
  }
  
  .flex-body h4 {
    font-size: 20px;
    padding-top: 5%;
  }
  
  .card-link {
    color: var(--main-color);
  }
  
  .fa-arrow-right,
  .card-link {
    padding-left: 2%;
  }

  /*  End of Solar Section (fourth section)*/


  /* Repairs Over Replacement Section (fifth section) */

#Repairs-Over-Replacement-Section-fifth-section {
    background-image: url("../images/8116 1 (1).png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0%;
    color: var(--white-color);
    text-align: center;
  }
  
  #Repairs-Over-Replacement-Section-fifth-section .content {
    background-color: rgba(26, 26, 26, 0.689);
    backdrop-filter: blur(10px);
    margin: 0% 20%;
    padding: 3%;
  }
  
  .content h4 {
    font-size: 30px;
    padding-bottom: 3%;
  }
  
  .content p {
    line-height: 30px;
    font-size: 20px;
  }
  
  /* End of Repairs Over Replacement Section (fifth section) */


  
/* Energy Innovators - the products we love section (sixth section)*/

.Energy_Innovators_card div{

    background-color: #F5F8EF; padding:6%;border:2px solid #74C3AD;border-radius: 15px ;
  
  }
  
  .Energy_Innovators_card img{
  
    border-radius: 10px
  }
  
  .Energy_Innovators_card .text1{
    font-weight: bold; font-size:20px;padding:6% 0%
  }
  
  .Energy_Innovators_card .text2{
    margin-bottom: 3%;  line-height: 25px;color:var(--text-color);margin-bottom:5%
  }
  
   .item-columns-4{
    grid-column: span 4;
  }

  .item-columns-8{
    grid-column: span 8;
  }
  
  .item-columns-6{
    grid-column: span 6;
  }
  
  .item-columns-4 h3{
    font-size: 45px;
  }
  

  #Energy_Innovators_sixth_section .fa-bolt{
    color: var(--white-color);
    background-color: var(--main-color);
    border: 10px solid var(--background-color-card);
    padding: 3%;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 2%;
    
  }
  
  /* End of Energy Innovators - the products we love section (sixth section)*/

  /* our values Section (seventh section) */
  #seventh-section{
    margin-top: 10%;
  }
#seventh-section h3 {
    font-size: 30px;
    text-align: center;
  }
  #seventh-section p {
    padding-top: 1%;
    color: var(--text-color);
    line-height: 30px;

  }

  .card2{
    grid-column: span 4;
    background-color: var(--background-color-card);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding:5%;

  }

  .card2 h4{
    font-size: 20px;
  }

  .card2 i{
    color: var(--main-color);
    font-size: 40px;
    padding: 6% 0%;
  }
/* End of our values Section (seventh section) */



/* what they say about WOC section (eighth section) */

#eighth_section .container{
    gap: 8%;
   
}

#eighth_section .item-columns-4 i{
    font-size: 50px;
    color: var(--main-color);
}

#eighth_section .item-columns-4 h4{
    font-size: 50px;
    padding: 4% 0%;
}

#eighth_section .item-columns-4 p{
    line-height: 30px;
}
#eighth_section .item-columns-8{
    background-color: var(--background-color-card);
    border-radius: 25px;
    padding: 4%;
}

#group1 p{
    color: var(--main-color);
}

#group1 .fa-circle{
    color: var(--text-color);
    font-size: 10px;
}

#group2{
    margin: 8% 0%;
}


#group2 p{
    font-size: 22px;
}
#group3 #text-near-image{
    padding: 2%;
}

#group3 .fa-solid{
    font-size: 30px;
    color: var(--text-color);
}




 /* Footer */

 footer{
    background-color: var(--footer-background-color);
    margin-top: 10%;
    padding: 5% 10%;
  }
  footer .container{
    margin: 3% 0%;
    gap: 10%;
  }
  #list1,#list2{
    list-style-type: none;
    display: flex;
  }

  #list1 li{
    
    padding: 4% 3%;
    color: #EFF1F2;
    font-size: 20px;
  }
  #list2 li{
    padding: 4% 1%;
    color: var(--text-color);
    font-size: 20px;
  }
  #list2 li::after{
    content: " | ";

  }

  #form{

    position: relative;
  }

  #form input{
    display: block;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--text-color);
    border: 1px solid var(--background-color-card);
    width: 75%;
        margin:2% 0%;
  }

  #form label{
    color: var(--white-color);

  }
  #form input::placeholder{
    color: var(--background-color-card);
  }

  #form .yellow_color_button{
    color: var(--white-color);
    height: 55%;
    padding: 0px 35px;
    border-radius: 25px;    
    position: absolute;
    top:32.5%;
    bottom: 0;
    right: 25.2%;
  }
  /* End of Footer */

















  /* Media Query */

  @media screen and (max-width: 800px) {
    nav {
      position: relative;
      transition: all 1s;
    }

    nav ul,.call-us{
        position: absolute;
        right: 0;
        left: 0;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        background-color: var(--main-color);
        display: none;
        padding-bottom: 3%;
        transition: all 1s;
    }

    nav ul{

        top: 80px;
        transition: all 1s;
    }

    .call-us{
        top: 250px;
        padding: 4% 0%; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        display: none;
    }

    .menu{
        display: block;
    }

    .container{

        margin: 2% 4%;


    }
  }


  @media screen and (max-width: 600px) {

    #fourth_section{
        margin-bottom:18%;
    }

    #Repairs-Over-Replacement-Section-fifth-section .content {
     
        margin: 0% 10%;
    
      }
      .item-columns-4 h3{
        font-size: 35px;
      }
      .content h4 {
        font-size: 20px;
      }
      
      .content p {
        font-size: 15px;
      }
      

    .card,.card2{
        grid-column: span 12;
    }

     .item-columns-4 ,  .item-columns-8, .item-columns-6{
        grid-column: span 12;
      }
    
  
#seventh-section,#eighth_section,footer{
    margin-top: 30%;
}


footer .item-columns-6{
    grid-column: span 12;
}

#form{
    margin-bottom: 8%;
}

#list1 li{
    
    padding: 4% 0.5%;
  
  }

  #yellow-card{

    bottom: 0%;
    left: 0%;
  
  }
  #third-section-content h3 {
    font-size: 30px;
  }
  
  #third-section-content p {
    font-size: 15px;
  }

  #Content_of_first_section h1{
    font-size: 40px;
    font-weight: normal;
    
  }

  #Content_of_first_section p{
    font-size: 20px;
    margin-bottom: 5%;
    
  }

  #Content_of_first_section{

    padding-left: 5%;


  }
}
